# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
*.obj
*.exe
*.pdb
*.ilk
*.log
*.tlog
*.ipch
*.aps
*.ncb
*.cache
*.db
*.opendb
*.shm
*.wal
*.VC.db*

# Backup and other files
*.bak
*.tmp
*.swp

# Ignore Debug/Release folders
Debug/
Release/
